APP_NAME=grpc

GRPC_PORT=8080
HEALTH_PORT=8081

HTTP_TIMEOUT=5s
IDLE_TIMEOUT=30s
SHUTDOWN_TIMEOUT=30s

REDIS_HOST=redis
REDIS_PORT=6379

DB_DRIVER=postgres
DB_PORT=5432
DB_USERNAME=user
DB_PASSWORD=password
DB_DATABASE=grpc
DB_MAX_CONN=10
DB_MAX_CONN_TIME=1s

MQ_USERNAME=guest
MQ_PASSWORD=guest
MQ_PORT=5672
MQ_ADMIN_PORT=15672

SEQUIN_PORT=7376