APP_NAME=grpc

GRPC_PORT=8080
DIAGNOSTIC_PORT=8081

HTTP_TIMEOUT=5s
IDLE_TIMEOUT=30s
SHUTDOWN_TIMEOUT=30s

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_ADDRESS="${REDIS_HOST}:${REDIS_PORT}"

DB_DRIVER=postgres
DB_PORT=5432
DB_USERNAME=user
DB_PASSWORD=password
DB_DATABASE=tata
DB_MAX_CONN=100
DB_MAX_CONN_TIME=1h
DB_MAX_CONN_IDLE_TIME=5m
DB_URL="${DB_DRIVER}://${DB_USERNAME}:${DB_PASSWORD}@db:5432/${DB_DATABASE}?sslmode=disable"

MQ_USERNAME=guest
MQ_PASSWORD=guest
MQ_PORT=5672
MQ_ADMIN_PORT=15672

OTEL_GRAFANA_PORT=3000
OTEL_GRPC_PORT=4317
OTEL_HOST=otel
OTEL_IS_TLS=false
OTEL_ENDPOINT="${OTEL_HOST}:${OTEL_GRPC_PORT}"

SEQUIN_PORT=7376
SEQUIN_EMAIL="admin@sequinstream.com"
SEQUIN_PASSWORD="sequinpassword!"
